<% layout('layouts/boilerplate') %>
<%- include('../partials/navbar') %>

<div class = "row">
        <div class = "col-6 mx-auto">
            <!-- METHOD OVERRRIDING -->
            <form action="/products/<%=foundProduct._id%>?_method=PATCH" method="POST">

                <div class=""mb-3>
                    <label for="naam">Name:</label>
                    <!-- name=schema name -->
                    <input type="text" class="form-control" name="name" id="naam" placeholder="Name of product" value="<%=foundProduct.name%>">
                </div>

                <div class=""mb-3>
                    <label for="img">Image:</label>
                    <input type="text" class="form-control" name="img" id="img" placeholder="Image url of product" value="<%=foundProduct.img%>">
                </div>

                <div class=""mb-3>
                    <label for="paisa">Price:</label>
                    <input type="number" class="form-control" name="price" id="paisa" placeholder="Price of product" value="<%=foundProduct.price%>">
                </div>

                <div class=""mb-3>
                    <label for="desc">Description:</label>
                    <textarea name="desc" id="desc" rows="5" placeholder="Description of the product"> <%=foundProduct.desc%>  </textarea>
                </div>

                <button class ="btn btn-sm btn-success" type="submit" >Edit Product</button>
            </form>

        </div>
</div>

</body>
</html>